.page {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    background-color: #252525;
}

.user__register__button {
    background-color: grey;
}
